<!DOCTYPE html>
<html lang="en" ng-app="warningsApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warnings</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.angularjs.org/1.8.0/angular.min.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body>
    <div ng-controller="HeaderController">
        <div ng-class="{error: isError, warning: isWarning}">{{messageText}}</div>
        <button ng-click="showError()">Simulate error</button>
        <button ng-click="showWarning()">Simulate warning</button>
    </div>
</body>

</html>